<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    <title>Attendance Tracker</title>
  </head>
  <body>
    <h1>Attendance Tracker</h1>
    <form action="/" method="post">
      <label for="start_date">Start Date:</label>
      <input type="date" id="start_date" name="start_date">
      
      <label for="end_date">End Date:</label>
      <input type="date" id="end_date" name="end_date">
      
      <h3>Absent Days</h3>
      <label for="Wednesday_absent">Wednesday:</label>
      <input type="text" id="Wednesday_absent" name="Wednesday_absent">
      
      <label for="Thursday_absent">Thursday:</label>
      <input type="text" id="Thursday_absent" name="Thursday_absent">
      
      <label for="Friday_absent">Friday:</label>
      <input type="text" id="Friday_absent" name="Friday_absent">
      
      <label for="Saturday_absent">Saturday:</label>
      <input type="text" id="Saturday_absent" name="Saturday_absent">
      
      <label for="Tuesday_absent">Tuesday:</label>
      <input type="text" id="Tuesday_absent" name="Tuesday_absent">
      
      <h3>Holiday Days</h3>
      <label for="Wednesday_holiday">Wednesday:</label>
      <input type="text" id="Wednesday_holiday" name="Wednesday_holiday">
      
      <label for="Thursday_holiday">Thursday:</label>
      <input type="text" id="Thursday_holiday" name="Thursday_holiday">
      
      <label for="Friday_holiday">Friday:</label>
      <input type="text" id="Friday_holiday" name="Friday_holiday">
      
      <label for="Saturday_holiday">Saturday:</label>
      <input type="text" id="Saturday_holiday" name="Saturday_holiday">
      
      <label for="Tuesday_holiday">Tuesday:</label>
      <input type="text" id="Tuesday_holiday" name="Tuesday_holiday">
      
      <input type="submit" value="Submit">
    </form>
  </body>
</html>